
.footer {
    background-color: black;
}
@media (width > 768px)
{
.footer__container {
    grid-template-columns: repeat(4, 1fr);
}
}
@media (width < 576px){
.footer__container {
    grid-template-columns: repeat(2, 1fr);
}
}
.footer__container {
    display: grid;
    gap: 4rem 2rem;
}
.section__container {
    max-width:1200px;
    margin: auto;
    padding: 5rem 1rem;
}
.logo {
    max-width: 120px;
}
.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.footer__col .section__description {
    margin-block: 2rem;
}
.section__description {
    max-width: 600px;
    margin-bottom: 1rem;
    color: #78716c;
}
.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}
.footer__links ul{
    padding-left: 0rem;
}
.footer__links a {
    color: #78716c;
    transition: 0.3s;
}
.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: #78716c;
    text-align: center;
}
.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.footer__socials img {
    max-width: 25px;
    opacity: 0.8;
    transition: 0.3s;
}