*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("/src/images/ayodhya.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

/* .nav-bar .nav-ul li{
    padding: 10px 10px;
}
.nav-ul{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav-ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
} */

nav {
    padding: 2.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    isolation: isolate;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    letter-spacing: 2;
}
.nav__bar {
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.logo {
    max-width: 120px;
}
a{
    text-decoration: none;
}
.nav__menu__btn {
    display: none;
}
.nav__links {
    display: flex;
    list-style: none;
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    gap: 2rem;
    transition: 0.5s;
    /* z-index: -1; */
}
.nav__links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: #ffffff;
    transition: 0.3s;
}
.nav__btn {
    display: block;
}


.header__container {
    padding-block: 10rem 15rem;
    font-family: 'Poppins', sans-serif;
}

.section__container {
    margin: auto;
    padding: 5rem 1rem;
    max-width: 1200px;
}
.header__container p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: aliceblue;
    text-align: center;
    opacity: 0.6;
    letter-spacing: 1;
    animation: slideSimple 1s ease forwards;
}

.header__container h1 {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 4.5rem;
    color: aliceblue;
    text-align: center;
    letter-spacing: 2px;
    animation: slideInFromBottom 2s ease forwards;
}

.header__container h1 span {
    color: #D53c74;
}

@keyframes slideSimple {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.6;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* .booking__container {
    padding-block: 0;
    margin: 0 11rem;
} */

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
    .booking__container {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  /* For screens between 576px and 767.98px (small devices) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .booking__container {
      max-width: 540px;
      margin: 0 1rem;
    }
  }
  
  /* For screens between 768px and 991.98px (medium devices) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .booking__container {
      max-width: 720px;
      margin: 0 1rem;
    }
  }
  
  /* For screens between 992px and 1199.98px (large devices) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .booking__container {
      max-width: 960px;
      margin: 0 5rem;
    }
  }
  
  /* For screens 1200px and larger (extra large devices) */
  @media (min-width: 1200px) {
    .booking__container {
      max-width: 1140px;
      margin: 0 11rem;
    }
  }


.booking__form {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffff;
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input__group {
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: aliceblue;
    background-color: #e8257e;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #c84172;
    color: #ffffff;
}